# LaTeX build files
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc

# Neovim configuration file
.nvimrc

# macOS folder configuration file
.DS_Store
